<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta description="LinkedIn like UI Vancovuer job seeking page data by WeAreYVR">
	<title>Jobs | opendata by WeAreYVR | by Wataru Oguchi</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,700' rel='stylesheet' type='text/css'>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js"></script>
	<script src="./lib/ui-bootstrap-custom-0.12.1.min.js"></script>
	<script src="./lib/ui-bootstrap-custom-tpls-0.12.1.min.js"></script>
	<script src="./lib/ng-text-truncate.js"></script>
	<script src="./js/app.js"></script>
	<style>
	html, body {font-size: 18px; font-family: 'Lato', Helvetica, sans-serif; font-weight: 300;}
	body {padding-top: 70px;}
	.navbar-brand {text-transform: capitalize; font-weight: 700;}
	.credit {font-size: 0.8rem;}
	.caption {font-size: 1.5rem; padding: 10px 0; font-weight: 700;}
	.preferences {padding-left:20px; font-size: 1rem;}
	.preference-window {margin: 20px 0; height: 300px; overflow: scroll;}
	.col-checkbox-12, .col-checkbox-4, .col-checkbox-3 {font-size: 1.25rem; display: inline-block; padding-bottom: 20px;}
	.col-checkbox-4 {width: 32%;}
	.col-checkbox-3 {width: 24%;}
	.one-job {padding-top: 10px;}
	.one-job:nth-of-type(2n) {background-color: #fafafd;}
	.job-title {font-size: 1.2rem; font-weight: 700;}
	.update-day,.job-type {font-size: 0.85rem; color: #888;}
	.update-day{line-height: 3;}
	table {font-size: 0.8rem;}
	</style>
</head>
<body ng-controller="MainCtrl">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header"><a href="#" class="navbar-brand">Vancouver tech startup jobs</a></div>
			<div id="navbar" class="navbar-collapse collapse"></div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="credit">Data by <a href="https://www.opendatabc.ca/dataset/weareyvr" target="_blank">OpenDataBC, WeAreYVR</a></div>
				<div class="caption">Jobs you may be interested in <a class="preferences" ng-click="isCollapsed = !isCollapsed">Open/Close Preferences</a></div>
				<div class="preferencesWindow-collapse" collapse="isCollapsed">
					<div>
						<tabset>
							<tab heading="Type">
								<div class="well well-lg preference-window">
									<div class="checkbox col-checkbox-4" ng-repeat="jobType in jobTypes">
										<label>
											<input type="checkbox" ng-value="true" ng-checked="jobTypes.indexOf(jobType) > -1" ng-click="toggleSelection(jobType)"> {{jobType}}
										</label>
									</div>
								</div>
							</tab>
							<tab heading="Level">
								<div class="well well-lg preference-window">
									<div class="checkbox col-checkbox-3">
										<label>
											<input type="checkbox" value="{{level.junior}}" ng-checked="level.junior" ng-click="checkJunior()"> Junior
										</label>
									</div>
									<div class="checkbox col-checkbox-3">
										<label>
											<input type="checkbox" value="{{level.intermediate}}" ng-checked="level.intermediate" ng-click="checkIntermediate()"> Intermediate
										</label>
									</div>
									<div class="checkbox col-checkbox-3">
										<label>
											<input type="checkbox" value="{{level.senior}}" ng-checked="level.senior" ng-click="checkSenior()"> Senior
										</label>
									</div>
									<div class="checkbox col-checkbox-3">
										<label>
											<input type="checkbox" value="{{level.executive}}" ng-checked="level.executive" ng-click="checkExecutive()"> Executive
										</label>
									</div>
								</div>
							</tab>
							<tab heading="LMO">
								<div class="well well-lg preference-window">
									<div class="checkbox col-checkbox-12">
										<label>
											<input type="checkbox" value="{{dataLMO}}" ng-checked="level.dataLMO" ng-click="checkLMO()"> LMO should be issued
										</label>
									</div>
									<div class="lmo-descripton">LMO(LMO) is provided to Citizenship and Immigration Canada(CIC) and communicated to the employer.</div>
									<a href="http://www.esdc.gc.ca/eng/jobs/foreign_workers/lmo_statistics//index.shtml" target="_blank">more info: http://www.esdc.gc.ca/eng/jobs/foreign_workers/lmo_statistics//index.shtml</a>
								</div>
							</tab>
						</tabset>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			Result: {{jobs.length}}
		</div>
		<div class="row one-job" ng-repeat="job in jobs | orderBy:'updated_at':true">
			<div class="col-sm-2">
				<div class="job-type">{{job.job_type}}</div>
				<div class="update-day"><i class="glyphicon glyphicon-time"></i>{{job.lastUpdated}}</div>
			</div>
			<div class="col-sm-10">
				<span class="job-title"><a href="{{job.link}}" target="_blank" class="jobUrl">{{job.title}}</a></span>
				<p class="job-description" ng-text-truncate="job.description" ng-tt-chars-threshold="256"></p>
				<div class="row">
					<div class="col-md-6">
						<table class="table">
							<thead>
								<tr>
									<th class="text-center">Junior</th>
									<th class="text-center">Intermediate</th>
									<th class="text-center">Senior</th>
									<th class="text-center">Executive</th>
									<th class="text-center">LMO</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="td-true text-center" ng-if="job.want_junior">o</td>
									<td class="td-false text-center" ng-if="!job.want_junior">-</td>
									<td class="td-true text-center" ng-if="job.want_intermediate">o</td>
									<td class="td-false text-center" ng-if="!job.want_intermediate">-</td>
									<td class="td-true text-center" ng-if="job.want_senior">o</td>
									<td class="td-false text-center" ng-if="!job.want_senior">-</td>
									<td class="td-true text-center" ng-if="job.want_executive">o</td>
									<td class="td-false text-center" ng-if="!job.want_executive">-</td>
									<td class="td-true text-center" ng-if="job.lmo">o</td>
									<td class="td-false text-center" ng-if="!job.lmo">-</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div> <!-- //.one-job -->
	</div>
</body>
</html>